<%- include header %>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file1" id=""/>
    <input type="file" name="file2" id=""/>
    <input type="file" name="file3" id=""/>
    <input type="file" name="file4" id=""/>
    <input type="file" name="file5" id=""/>
    <input type="submit" value="上传"/>
</form>
<%- include footer %>